<div ng-app="voertuigen" ng-controller="voertuigenCtrl" ng-init="init()">
    <script>
        if (!isAdmin()) {
                            var adminpart = document.getElementById('admin');
                            adminpart.style.visibility = 'hidden';
                        }
    </script>
    <p>auto</p>
    <div class="border1">
        <p ng-repeat="auto in cars">{{auto.kenteken}}</p>
    </div>
    <div id="admin">
        <p style="margin: 5%">Auto's</p>
        
        <form style="margin: 5%" ng-submit="submit()">
            kenteken:<br>
            <select data-ng-options="o.kenteken for o in cars" data-ng-model="selectedOption" ng-change="update()"></select>
            <br>
            ID:<br>
            <input type="test" name="id" ng-model="id" ng-disabled="true">
            <br>
            voertuig:<br>
            <input type="text" name="voertuig" ng-model="voertuig" ng-disabled="true"><br>
            De aller eerste kleur van dit voertuig:<br>
            <input type="text" name="kleur" ng-model="eersteKleur"><br>
            Het aantal zitplaatsen:<br>
            <input type="text" name="aantalzitplaatsen" ng-model="zitplaatsen" ng-disabled="true"><br>   
            <button  type="submit" id="submit" value="Submit">wijzigen</button>
        </form> 
         
    </div>
</div>