loginUnit/target
/RekeningAdmfrontend/node_modules
/RekeningAdmfrontend/nbproject/private/
/RekeningAdministratieBackend/target/
/Rekeningadministratie/target/
/RekeningRijderfrontend/nbproject/private/
/RekeningRijderfrontend/node_modules
/VPSystem/target