/Rekeningadministratie FrontEnd/nbproject/private/
/Rekeningadministratie FrontEnd/node_modules/bower
/Rekeningadministratie FrontEnd/node_modules/http-server
/Rekeningadministratie FrontEnd/node_modules/karma
/Rekeningadministratie FrontEnd/node_modules/protractor
/Rekeningadministratie FrontEnd/node_modules/requirejs
/Rekeningadministratie FrontEnd/node_modules/shelljs
/Rekeningadministratie FrontEnd/node_modules/karma-chrome-launcher
/Rekeningadministratie FrontEnd/node_modules/karma-coffee-preprocessor
/Rekeningadministratie FrontEnd/node_modules/karma-firefox-launcher
/Rekeningadministratie FrontEnd/node_modules/karma-html2js-preprocessor
/Rekeningadministratie FrontEnd/node_modules/karma-jasmine
/Rekeningadministratie FrontEnd/node_modules/karma-junit-reporter
/Rekeningadministratie FrontEnd/node_modules/karma-phantomjs-launcher
/Rekeningadministratie FrontEnd/node_modules/karma-requirejs