<div ng-app="view1" ng-controller="View2Ctrl" ng-init="init()">
    <p>Modify factuur</p>
    <div class="border1">
        <h3>Alle Facturen</h3>
        <p ng-repeat="factuur in facturen" ng-click="onClickRepeat(factuur)">
            ---------------------------------------------------------------------------------------------------------------
            Factuurid: {{factuur.nummer}}<br> 
            Betaal status: {{factuur.betaalStatus}}<br>
            Voor maand {{factuur.maand}}<br>
            Totaal kosten: {{factuur.totaalBedrag}}
        </p>
    </div>
    <div class="border2">
        <p ng-repeat="onderdeel in onderdelen">
            Factuur onderdeel ID:{{onderdeel.factuurOnderdeelID}}<br> bedrag:{{onderdeel.bedrag}} aantal Kilometers:{{onderdeel.aantalKilometers}} cartraker: {{onderdeel.cartrakerID}}<br>
            beginTijd: {{onderdeel.beginTijd}} eindTijd:{{onderdeel.eindTijd}}<br>
            ---------------------------------------------------------------------------------------------------------------
        </p>
    </div>
    <hr>    
    <div class="row">
        <div class="col-md-5 col-sm-offset-1">
        <h3>De betaalstatus van gekozen factuur aanpassen</h3>
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="nummer">Nummer:</label>   
                <div class="col-sm-10">
                    <input type="text" id="nummer" value="5" name="nummer" ng-readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="status">Status:</label>   
                <div class="col-sm-10">
                    <input type="text" name="Status" id="status" ng-model="Status">
                </div>
            </div>
            <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                    <button  type="submit" id="submit" class="btn btn-default" value="Submit">factuur status aanpassen</button>                
                </div>
            </div>
        </form> 
        </div>
    </div>
</div>
