<div ng-app="view1" ng-controller="View1Ctrl" ng-init="initData()" style="padding:10px 50px;">
    <h1>Create or modify cartracker</h1> 
    <div class="row">
        <div class="col-sm-4">
            <h2>All cartrackers</h2>
            <p>Zoeken:<input style="margin: 15px;width: 300px" type="text" ng-model="search" ></p>
            <table id="searchTextResults" class="table table-striped">
                <thead>
                    <tr>
                        <th>Cartracker id:</th>
                        <th>Kenteken:</th>
                        <th>Voertuig:</th>
                        <th>Kleur:</th>
                        <th>zitplaatsen</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tr ng-repeat="cartracker in cartrackers| filter:search | limitTo:page * 10 | limitTo:-10" ng-click="chooseCar(cartracker)">
                    <td>{{cartracker.id}}</td>
                    <td>{{cartracker.auto.kenteken}}</td>
                    <td>{{cartracker.auto.voertuig}}</td>
                    <td>{{cartracker.auto.eersteKleur}}</td>
                    <td>{{cartracker.auto.zitplaatsen}}</td>
                    <td>{{cartracker.auto.website}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <h2>Bijbehorende facturen</h2>
            <p>Zoeken:<input style="margin: 15px;width: 300px" type="text" ng-model="searchText" ></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>CartrackerID</th>
                        <th>Maand</th>
                        <th>Bedrag</th>
                        <th>BetaalStatus</th>
                    </tr>
                </thead>
                <tr ng-repeat="factuur in homefacturen | filter:searchText">
                    <td>{{factuur.nummer}}</td>
                    <td>{{factuur.cartrackerID}}</td>
                    <td>{{factuur.maand}}</td>
                    <td>{{factuur.totaalBedrag}}</td>
                    <td>{{factuur.betaalStatus}}</td>
                </tr>
            </table>
        </div>
    </div>

    <hr>
    <h2>Cartracker aanpassen</h2>
    <form class="form-horizontal" role="form" ng-submit="submit()">
        <div class="form-group">
            <label class="control-label col-sm-2" for="cartrackeridid">Cartracker id:</label>   
            <div class="col-sm-10">
                <input type="text" ng-disabled="true" id="cartrackeridid" name="Cartrackerid" ng-model="Cartrackerid">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="kentekenid">Kenteken:</label>
            <div class="col-sm-10">
                <input type="text" ng-disabled="true" id="kentekenid" name="kenteken" ng-model="kenteken">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="voertuigid">Voertuig:</label>
            <div class="col-sm-10">
                <input type="text" name="voertuig" id="voertuigid" ng-model="voertuig">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="kleurid">Kleur:</label>
            <div class="col-sm-10">
                <input type="text" name="eersteKleur" id="kleurid" ng-model="eersteKleur">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="zitplaatsenid">Het aantal zitplaatsen:</label>
            <div class="col-sm-10">
                <input type="number" max="50" name="zitplaatsen" id="zitplaatsenid" ng-model="zitplaatsen">
            </div>
        </div>    
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" name="website" ng-model="website"> Website</label>
                </div>
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <button  type="submit" class="btn btn-default" value="Submit">Modify current cartracker</button>
            </div>
        </div>
    </form>
    <hr>
</div>