<div ng-app="view1" ng-controller="View1Ctrl" >
    <p>Create or modify cartracker</p>
    <div class="border1" ng-init="initData()">
        <p ng-click="chooseCar(auto)" ng-repeat="auto in cars">{{auto.kenteken}}</p>
    </div>
    <div class="border2">
        <p style="margin: 5%">Nieuwe Cartraker toevoegen</p>
        <form style="margin: 5%" ng-submit="submit()">
            kenteken:<br>
            <input type="text" name="kenteken" ng-model="kenteken">
            <br>
            voertuig:<br>
            <input type="text" name="voertuig" ng-model="voertuig"><br>
            De aller eerste kleur van dit voertuig:<br>
            <input type="text" name="eerstekleur" ng-model="eerstekleur"><br>
            Het aantal zitplaatsen:<br>
            <input type="text" name="aantalzitplaatsen" ng-model="aantalzitplaatsen"><br>
            <button  type="submit" id="submit" value="Submit">Auto toevoegen</button>
            <button  type="submit" ng-click="addid()">Auto aanpassen</button>
            <pre>list={{list}}</pre>
        </form> 
         
    </div>
</div>