<div id="pagina">
<div id="menu2">
    <b>search:</b>
        <input type="text" ng-model="search">
        <input type="Button" value="Logout" ng-click="$location.path('/view1')">
        <select ng-model="selectedUser" ng-change="setUser()" ng-options="KilometerTarief.name for KilometerTarief in allUsers">
        </select>
    </div>
<div id="body">
        <div id="bodyleft2">
                <div id="box">
                    <h2>{{KilometerTarief.name}}</h2>
                    <img src="#"/> <h2>What's happening?</h2>
                    <form ng-submit="postTweet()" ng-controller="View2Ctrl">
                    <textarea maxlength = "140" id="NewTweet" ng-model="tweetContent"></textarea>
                   <input type="submit" id="submitTweet" value="Tweet">
                   </form>
                </div>
                <div id="box">
                    <h2>Timeline</h2>
                        <div ng-repeat="tweet in getTimeline() | orderBy:[date] | filter:search:strict">
                        <div id="box">
                        <p>{{tweet.content}}</p>
                        <p>{{tweet.date}}</p>
                        </div>
            </div>
                </div>
        </div>
        <div id="bodyright2">
            <div id="box">
                <p><a ng-href="index.html#/view1?id='1'">Your tweets {{KilometerTarief.tweets.length}}</a></p>
            <p><a ng-href="index.html#/view1">following {{KilometerTarief.following.length}}</a></p>
            <p><a ng-href="index.html#/view1"> followers {{KilometerTarief.followers.length}}</a></p>
            </div>
            <div id="box"> 
            <h2>Trends</h2>
            <table>
            <tr>
                <td><a href='https://glassfish.java.net/'>#Glassfish</a></td>
            </tr>
            <tr>
                <td><a href='#'>#EJB</a></td>
            </tr>
            <tr>
                <td><a href='#'>#JPA</a></td>
            </tr>
            <tr>
                <td><a href='#'>#JSF</a></td>
            </tr>
            </table>
                </div>
            </div>
        </div>
       </div>
