
<div ng-app="view2" ng-controller="View2Ctrl" ng-init="init()">
    <p>NAW gegevens</p>
    <div class="border1">
         <p ng-repeat="e in eigenaars">{{e.naam}}</p>
    </div>
    <div class="border2">
        <p style="margin: 5%">NAW gegevens</p>
        <form style="margin: 5%" ng-submit="submit()">
            naam:<br>
            <select data-ng-options="o.naam for o in eigenaars" data-ng-model="selectedOption"ng-change="update()"></select>
            <br>
            adres:<br>
            <input type="text" name="adres" ng-model="adres"><br>
            woonplaats:<br>
            <input type="text" name="woonplaats" ng-model="woonplaats"><br>  
            <!-- username:<br>
            <input type="text" name="user" ng-model="username"><br> 
            password:<br>
            <input type="password" name="pass" ng-model="password"><br> -->
            <button  type="submit" id="submit" value="Submit">wijziging opslaan</button>
        </form> 
         
    </div>
</div>